#signup_submit {
    margin-left: 60px;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: -30px;
}

#signup_close {
    margin-bottom: 30px;
    margin-top: -30px;
}

.modal-content h2 {
    font-family: 'Rajdhani', sans-serif;
    margin-left: 50px;
}