.one-chef {
    width: 100%;
}

.title-ingred {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-top: 50px;
    font-weight: bold;
    margin-left: -50px;
}

.title-insruc {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-top: 50px;
    font-weight: bold;
}

.fab {
    margin-left: 15px;
    font-size: 20px;
    margin-top: 10px;
    color: #fbaa19;
    font-weight: 400;
}

.submission-insruc {
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    margin-top: 25px;
    font-weight: bold;
    margin-left: 100px;

}

.headline-ingred {
    color: black !important;
    margin-top: 50px;
    margin-left: 100px;
}

.totalTime-ingred {
    margin-left: 100px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 !important;
    font-weight: 500;
}

.servings-ingred {
    margin-left: 100px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    margin-top: 10px;
    padding: 0px !important;
}

.image-ingred {
    margin-left: 100px;
}

.instructions-ingred  {
    margin-left: -50px;
    margin-top: 50px;
}

.form-ingred {
    margin-left: -50px;
}

.container {
    width: 100%;
}

.one-chef-row {
    width: 100% !important;
    margin-bottom: 100px;
}

.one-chef-review {
    margin-left: -50px;
    background-color: #fbaa19;
    color: white;
}

.one-chef-review:hover {
    background-color: #fbaa19;
    color: white;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 100%;
    text-align: left;
    margin-left: 100px;
}

.rating input {
    position: absolute;
    left: -999999px;
}

.rating label {
    display: inline-block;
    font-size: 0;
    padding-right: 10px;
    margin-top: 10px;
}

.rating > label:before {
    position: relative;
    font: 24px/1 FontAwesome;
    display: block;
    content: "\f005";
    color: #ccc;
    background: #b3b3b3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #f0ad4e;
    background: #fbaa19;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}