.fridge {
    margin-right: 50px;
    float: right;
}

.login .signup {
    margin-right: 20px;
    float: right;
}

.navbar-header {
    background-color: transparent;
}

.btn, .fridge {
    background: transparent;
    text-transform: inherit;
    font-size: 14px;
}

.btn:hover {
    background: transparent;
}