.signout {
    margin-right: 0 !important;
}

.nav-wrapper {
    width: 95% !important;
}

.login .signup {
    margin-right: 0 !important;
    padding: 0 !important;
}

.signout {
    padding: 0 !important;
}

.navbar-header {
    background-color: transparent;
}

.btn, .fridge {
    background: transparent;
    text-transform: inherit;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    background: transparent;
}

.login-button {
    color: white;
    background-color: #fbaa19;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    width: 125px;
    font-size: 12px;
}

.signup-button {
    color: white;
    background-color: #fbaa19;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    width: 130px;
    font-size: 12px;
    margin-top: 20px;
}

.login-button:hover, .signup-button:hover {
    color: white;
    background-color: #fbaa19;
}

.login-username, .login-password {
    width: 65% !important;
    border-bottom: 1px solid #fbaa19;
}

.signup-username, .signup-password {
    width: 65% !important;
    border-bottom: 1px solid #fbaa19;
}

.input-field {
    margin-left: 50px;
}

.modal-content h4 {
    font-family: 'Rajdhani', sans-serif;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 500;
}

.modal-content {
    height: 350px;
}

.modal-close {
    color: white;
}

.modal {
    width: 45%;
}