.page-footer {
    width: 100% !important;
    text-align: center;
    background: #eff4f7;
}

.footer-copyright {
    width: 100% !important;
    background:white !important;
    color: #a3a3a3 !important;
    height: 75px;
    font-family: 'Rajdhani', sans-serif !important;
    font-weight: 600;
}

.footer-buttons {
    margin: 0px 15px;
    text-transform: uppercase !important;
    font-weight: 700;
    font-size: 16px !important;
    color: black !important;
    font-family: 'Rajdhani', sans-serif !important;
}

.footer-buttons:hover {
    color: #fbaa19;
}

.btn:hover {
    background: transparent;
}

.footer-container {
    width: 100% !important;
}

.footer-row  {
    width: 100% !important;
}

.footer-social {
   text-align: right;
   margin-right: 25px;
}

.copyright {
    text-align: left;
    margin-left: 25px;
}

.designers {
    text-transform: uppercase;
}

.footer-logo {
    margin-top: 10px;
}