.about {
    text-align: center;
}

.about-content {
    width: 65%;
    margin: 0 auto;
}

.about h2 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 200px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}

.about-text{
    text-align: left;
}

.subhead {
    margin-top: 50px;
}

.container-about {
    height: 750px;
}