.main-blog {
    width: 100%;
    border-bottom: 1px solid #fbaa19;
}

.navbar {
    background-color: transparent;
}

.navtext {
    color: black !important;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;

}

.navtext:hover {
    color: #fbaa19 !important;
    background-color: transparent;
}

.nav-wrapper {
    width: 100%;
    
}

.nav-logo {
    margin-top: 15px;
}