.container-form {
    width: 100%;
    height: 750px;
}

.submit-form {
    width: 70%;
    margin: 0 auto;
}

.submit-form h2 {
    text-transform: uppercase;
    font-size: 50px;
    margin-top: 100px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    /* padding-top: 100px; */
}

#submit-icon {
    margin: 0 auto;
    align-content: center;
}

.form-content {
    text-align: center;
    /* background-color: #f9f9f9; */
    margin-top: 10px;
}