.chefCardRow {
  width: 90% !important;
}

.chefcard {
   text-align: center;
    margin-top: 50px;
    min-height: 550px !important;
}

.chefTitle {
  color: black;
}

.all-chef-instructions {
  color: black;
}

.allchef-title {
  font-weight: 600 !important;
}
