.chefCardRow  {
    width: 90% !important;
}

.chefcard {
   
    margin-top: 50px;
}

.chefTitle {
    color: black;
}

.all-chef-instructions {
    color: black;
}

.allchef-title {
    font-weight: 600 !important;
}